

/*Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

nav {
  font-family: 'Montserrat', "Lucida Grande", sans-serif;
  font-weight: 400;
}

body {
  padding-top: 5rem;
  font-family: 'Merriweather', Georgia, serif;
}
p {
  text-align: justify;
}
.intro {
  padding: 3rem 1.5rem;
  text-align: center;
}
h1, h2{
  font-family: 'Lora', serif;
  font-weight: 700;
}
h1 {
  font-size: 4em;
	font-weight: 700;
  color:  #382956;
}
h2{
  font-size: 2.5em;
  font-weight: 700;
}
h4{
  font-weight: 700;
}

.lead {
  font-family: 'Merriweather', Georgia, serif;
	font-weight: 400;
  text-align: center;
}

.byline {
  font-family: 'Lora', serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
}

.sidebar {
  font-family: 'Montserrat', "Lucida Grande", sans-serif;
  font-size: .9em;
  font-weight: 400;
}

img {
  width: 100%;
  margin-bottom: .5em;
}

.maphead {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 1.8em;
  font-weight: 500;
}

figure {
  padding: 3em;

}
figure.figure-border {
  border: 1px solid lightgray;
}
figcaption {
  text-align: left;
  font-family: 'Montserrat', "Lucida Grande", sans-serif;
  margin-top: .25em;
  margin-bottom: 1em;
}

.card {
  float: left;
  font-family: 'Montserrat', "Lucida Grande", sans-serif;
  margin-right: 2em;
}
.card-title {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 700;
}
span.photo-credit {
  font-weight: 700;
}
svg {
    font-family: 'Montserrat', "Lucida Grande", sans-serif;
    shape-rendering: crispEdges;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
  }
 
  path.domain {
    stroke: none;
  }
 
  .y .tick line {
    stroke: #ddd;
  }
 

text.label {
  font-size: 1.2rem;
  font-weight: 700;
}

g.tick, g.legend {
  font-size: 1rem;
}
.data-box {
  background: #f3ffe6;
  color: #382956;
  margin-bottom: 10px;
}
p.sidebar, p.sidebar-attribution, p.sidebar-head  {
  text-align: left;
}
p.sidebar-head {
   font-family: 'Montserrat', "Lucida Grande", sans-serif;
  font-weight: 700;
}

/*STARTS MEDIA QUERIES FOR OTHER SCREEN WIDTHS*/

/*Small devices (landscape phones, 576px and up*/
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up*/
@media (min-width: 1200px) {

}
